{% extends 'base.html.twig' %}

{% block title %}
    Modifier Plat
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier Plat</h1>

        {# Afficher le formulaire de modification du plat #}
        <div class="mt-4">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_row(form.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.prix, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.categorie, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.active, {'attr': {'class': 'form-check-input'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form._token) }}
            </div>
            <button type="submit" class="btn btn-primary">Modifier le plat</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
