{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!
{% endblock %}

{% block body %}
	<div class="contenu">
		<h1 class="fst-italic">Nos Plats</h1>
		<main class="container">
			<div class="row">
				{% for plat in plats %}
					<div class="col-md-6 mb-4">
						<div class="card" id="images" style="width: 18rem;">
							<img src="{{ asset('IMG/' ~ plat.image) }}" alt="{{ plat.libelle }}">
							<div class="card-body">
								<h5 class="card-title">{{ plat.libelle }}></h5>
								<p class="card-text">
									{{ plat.description}}</p>
								<p class="content bg-body">
									{{ plat.prix}} euros</p>
							</div>
						</div>
					</div>
					{% if loop.index is even %}
					</div>
					<div class="row">
					{% endif %}
				{% endfor %}
			</div>
		</main>
	{% endblock %}